:root {
  font-family: -apple-system, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
}

.scroll-hide::-webkit-scrollbar {
	display: none;
}

.arrow-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.arrow-selector-container .row-title {
  font-size: 24px;
  font-weight: bold;
  color: #cccccc;
}

.arrow-selector-container .row {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.arrow-selector-container .icon {
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arrow-selector-container .label {
  width: 160px;
  flex: 0 0 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow-selector-container .default-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #555;
  display: block;
}

.arrow-selector-container .icon.disabled {
  opacity: 0.3;
  pointer-events: none;
}